// Font weights
$regular: 500;
$bold: 600;
$name: 700;

// Base font
$base-font-family: 'Nunito';

// Headings
$header-font-weight: $bold;

// Border
$border-solid: solid;
$border-thin: 1px;
$rounded: 5px;

// Colours
$colour-background: #ffffff !default;
$colour-border: #8FB339 !default;

$colour-text: #333333 !default;
$colour-text-button: #ffffff !default;

$colour-primary: #8FB339 !default;
$colour-hover:#728f2e !default;
$colour-label: rgba(0, 0, 0, 0.5);

$white: #ffffff;