/* App */

#app {
    background-color: $white;
    border-color: $colour-primary;
    border-style: $border-solid;
    border-width: $border-thin;
    box-shadow: 0 6px 9px rgba(0, 0, 0, 0.16), 0 6px 9px rgba(0, 0, 0, 0.23);
  
    font-family: $base-font-family, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
    margin: 8vh;
    padding: 3vh;

    .btn-secondary {
        background-color: $colour-primary;
        border: none;

        &:hover {
            background-color: $colour-hover;
            cursor: pointer;
        }
    }

    label {
        color: $colour-label;
    }
}

@media only screen and (max-width: 600px) {
    #app {
        margin: 4vh;
    }
}

/* Navbar */
#nav-bar {
    border-color: $colour-primary;
    border-bottom-style: $border-solid;
    border-width: $border-thin;

    h4 {
        font-weight: $name;
    }

    .navbar-brand {
        white-space: normal;
    }
}

/* Chat Log */
#chat-box {
    height: 45vh;
    #chat-log {
        border-radius: $rounded;
        border-color: $colour-primary;
        border-style: $border-solid;
        border-width: $border-thin;

        display: block;
        padding: 10px 25px 10px 25px;
        height: 100%;
        overflow: auto;
    }
}

/* Henchmen List */
#henchmen-list {

    .list-group-flush .list-group-item {
        border-radius: $rounded;
    }

    .list-group-item.active {
        background-color: $colour-primary;
        border-color: $white;
    }
}

/* Emoji Bar */
/*
#emoji-bar {

    .emoji {
        display: inline-block;
        margin: 0 1% 0 1%;

        .noSelect {
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        &:hover {
            cursor: pointer;
        }
    }

    @media only screen and (max-width: 760px) {
        .emoji {
            margin-top: 7vh;
        }
    }
}
*/

/* Chat Bar */
#chat-bar {
    .emoji {
        display: inline-block;
        margin: 0 1% 0 1%;
        .noSelect {
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        &:hover {
            cursor: pointer;
        }
    }
}

@media only screen and (max-width: 767px) {
    #chat-bar {
        margin-top: 7vh;
    }
}

@media only screen and (min-width: 1600px) {
    #chat-bar {
        margin-top: 4vh;
    }
}