@font-face {
    font-family: 'Circular-Std-Book';
    font-weight: 500;
    font-style: normal;
    src: url('../font/shellypalmer-circular-std-book.ttf') format('truetype');
}

@font-face {
    font-family: 'Circular-Std-Bold';
    font-weight: 500;
    font-style: normal;
    src: url('../font/shellypalmer-circular-std-bold.ttf') format('truetype');
}